{% extends "base.html.twig" %}
{% block body %}

  <body class="inner-page">
  <div id="page">
  {% include'components/nav.html.twig' %}
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <section class="main-container -layout bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-12 col-sm-push-0">
          <div class="category-description std">
            <div class="slider-items-products">
              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col1 owl-carousel owl-theme">
                  <!-- Item -->


                    <!-- End Item -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <article class="col-main">
            <div class="page-title">
              <h1>Nos produits</h1>
            </div>
            <div class="toolbar">
              <div class="sorter">

              </div>
              <!-- Filtre des articles -->
              {#<div id="sort-by">
                <label class="left">Trier par: </label>
                <ul>
                  <li><a href="#">Modèle<span class="right-arrow"></span></a>
                    <ul>
                      <li><a href="#">Homme</a></li>
                      <li><a href="#">Femme</a></li>
                    </ul>
                  </li>
                </ul>

                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
              <div id="sort-by">
                <label class="left">Trier par: </label>
                <ul>
                  <li><a href="#">Prix<span class="right-arrow"></span></a>
                    <ul>
                      <li><a href="#">Croissants</a></li>
                      <li><a href="#">Décroissants</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>

            </div>#}
            <div class="category-products">
              <ul class="products-grid">
                {% for product in products%}
                  <li class="item col-lg-6 col-md-2 col-sm-2 col-xs-4">
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a href="{{ path('default_product', {
                            'category' : product.categorie.alias,
                            'alias' : product.alias,
                            'id' : product.id
                          }) }}" title="{{product.name}}" class="product-image">
                            <img src="{{ asset('uploads/images/' ~ product.featuredImage ) }}"
                                 alt="{{product.name}}" class="card-img-top">
                          </a>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"><a href="#" title="Retis lapen casen">{{product.name}} </a> </div>
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box"><span class="regular-price"><span class="price">{{product.pricedisplay}}<span>€</span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </article>
          <!--	///*///======    End article  ========= //*/// -->
        </div>
      </div>
    </div>
  </section>
{% endblock  %}
